@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --remained-row: 5;
  --filled-row: 1;
  --color: $color-blue-dark-1;
  --remained-display: inline-block; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.main {
  height: 100vh;
  padding: 3rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, 5rem) 1fr 5rem 1fr;
  grid-template-columns: [space1-start] 1fr [space1-end content-start] max-content [content-end space2-start] 1fr [space2-end];
  align-items: center;
  justify-items: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 400;
  background-color: #0BA9D4;
  color: #F8FDFF; }

.main > * {
  grid-column: content-start / content-end; }

.heading-1 {
  grid-row: 1 / 2;
  font-size: 4.6rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }

.heading-2 {
  z-index: 2;
  color: var(--color); }

.percentage {
  color: #F8FDFF; }

.subtitle {
  grid-row: 2/3;
  font-size: 2.4rem;
  font-weight: inherit; }

.heading-3 {
  grid-row: 4 / 5;
  font-size: 1.4rem; }

.cup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  background-color: #F8FDFF;
  color: #03256C;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all .5s; }
  .cup--active {
    color: #F8FDFF;
    background-color: #03256C; }

.big-cup_container {
  gap: 1rem;
  grid-row: 3 / 4;
  height: 30rem;
  width: 40%;
  z-index: 0;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr;
  position: relative;
  transition: all .4s;
  overflow: hidden; }
  .big-cup_container .filled {
    position: relative;
    grid-row: var(--filled-row)/-1;
    grid-column: 1 / -1;
    z-index: 1;
    background-color: #03256C;
    display: flex;
    align-items: center;
    justify-content: center; }

.qtd_remained {
  grid-row: var(--remained-row)/span 1;
  grid-column: 1/-1;
  display: var(--remained-display); }

.cups_container {
  grid-row: 4/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
  height: 18rem;
  padding: 1rem;
  margin-top: 1rem; }

.small-cup_container {
  height: 7rem;
  width: 50%;
  font-size: 1.2rem;
  cursor: pointer; }
